name: Run Monitor Script

on:
  workflow_dispatch: # Allows manual runs

jobs:
  run-monitor:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Grants write permissions to repository contents

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install pandas matplotlib

      - name: Run monitor script
        run: python scripts/monitor.py

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: "Update monitoring results [skip ci]"
